body{
    margin: 0;
    padding: 0;
    background: url(Ass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.singupbox{
    width: 450px;
    height: 780px;
    background: black;
    color: floralwhite;
    top: 50%;
    left: 25%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 20px;
}

.images{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    position: absolute;
    top: -70px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0  20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.singupbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.singupbox input{
    width: 70%;
    margin-bottom: 10px;
}

.singupbox input[type="text"],input[type="password"],input[type="number"]
{
    border: none;
    border-bottom: 1px solid floralwhite;
    background: transparent;
    outline: none;
    height: 40px;
    color: floralwhite;
    font-size: 15px;
}

.singupbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: floralwhite;
    font-size: 20px;
    border-radius: 20px;
}

.singupbox input[type="submit"]:hover
{
    cursor: pointer;
    background: yellow;
    color: black;
}

.singupbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 1px;
    color: darkgrey;
}

.checkbox input{
    width: 10%;
}
.singupbox a:hover
{
    color: greenyellow;
}